 
.socials{
    width: 5vh;
    margin-left: auto;
    float: right;
    margin-left: 20px;
    margin-top: -2px;
}

.logo{
    font-weight: bolder;
    font-size: 2rem;
    background: darkslategray;;
    padding: 0%;
    margin: 0%;
}
  
.logo1{
    color: #FD7944;
}

.logo2{
    color: #161616;
}

.man-standing{
    position: absolute;
    right: 15%;
    bottom: 12%;
    width: 40vh;
}
  
.header{
    font-weight: bold;
    font-size: large;
    left: 40%;
    text-align: center;
}
  
.student {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D3D3D3;
}
.info-display{
    background-color: white;
    width: 37%;
    height: 40%;
    align-items: center;
}

.image-location{
    width: 20%;
    height: 25%;
}
  
.text1{
    width: 40%;
    padding: 2%;
    font-size: large;
    font-weight: bolder;
  }
  .text2{
    margin: 10%;
    font-size: large;
    font-weight: bolder;
    text-align: center;
  }
  .img1{
    margin: 5%;
  }
  .line{
    padding: 5%;
  }
  .line-item{
    text-align: center;
    padding: 5% 0;
  }
  
.footer {
    background: darkslategray;
    padding: 1em;
    color: white;
    text-align: center;
    margin-bottom: 0;
}
.login {
    position: absolute;
    top: 100px;
}